@model PresentationModels.Driver.AddJourney
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CreateJourney", "Driver"))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col text-center">
                <h1 class="h1" style="font-size: 48px; color: #201E20; font-weight: bold ">Driver: Add a Journey</h1>
            </div>
        </div>

        @{
            if (ViewBag.SuccessMessage != null)
            {
                <div class="row justify-content-center mt-5">
                    <div class="alert alert-success text-center" style="width: 500px">
                        @ViewBag.SuccessMessage
                    </div>
                </div>
            }
        }
    </div>
    <div class="container w-50 mt-5" style="border: 5px solid; border-color: #201E20; border-radius: 10px ">
        <div class="row row-cols-2 justify-content-center mt-3">
            <div class="col-3">
                @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "form-label", @style = "color:#201E20; font-size: 16px" })
            </div>
            <div class="col-4">
                @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "border-color: #201E20" } })
                <p class="text-danger">
                    @Html.ValidationMessageFor(m => m.Date)
                </p>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center mt-3">
            <div class="col-3">
                @Html.LabelFor(m => m.LeavingTime, htmlAttributes: new { @class = "form-label", @style = "color:#201E20; font-size: 16px" })
            </div>
            <div class="col-4">
                @Html.EditorFor(m => m.LeavingTime, new { htmlAttributes = new { @class = "form-control", @style = "border-color: #201E20", @type = "time" } })
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <p class="text-danger">
                    @Html.ValidationMessageFor(m => m.LeavingTime)
                </p>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center mt-3">
            <div class="col-3">
                @Html.LabelFor(m => m.TotalSeats, htmlAttributes: new { @class = "form-label", @style = "color:#201E20; font-size: 16px" })
            </div>
            <div class="col-4">
                @Html.EditorFor(m => m.TotalSeats, new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "border-color: #201E20" } })
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <p class="text-danger">
                    @Html.ValidationMessageFor(m => m.TotalSeats)
                </p>
            </div>
        </div>
        <div class="row row justify-content-center mt-3">
            <div class="col-2 text-start">
                <p style="color:#201E20; font-size: 16px">To Work</p>
            </div>
            <div class="col-1">
                @Html.RadioButtonFor(m => m.FromToWork, "True")
            </div>
            <div class="col-2 text-start">
                <p style="color:#201E20; font-size: 16px">From Work</p>
            </div>
            <div class="col-1">
                @Html.RadioButtonFor(m => m.FromToWork, "False")
            </div>
        </div>
        <div class="row row justify-content-center mt-3">
            <div class="col text-center">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.FromToWork)
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col text-center">
                <input type="submit" class="btn" style="font-weight: bold; color: #201E20; background-color: #1DB954 " value="Confirm" />
            </div>
        </div>
    </div>


<div class="container w-50 mt-5">
    <div class="row">
        <div class="col text-center">
            <h2 style="color: #201E20">Driver Stops</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead style="background-color: #E0A96D; color: #201E20 ">
                    <tr>
                        <th class="text-center">
                            Location
                        </th>
                        <th class="text-center">
                            Time From Home (mins)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.StopsGrid.Count != 0)
                    {
                        foreach (var item in Model.StopsGrid)
                        {
                            <tr class="text-center">
                                <td>
                                    @item.Location.Name
                                </td>
                                <td>
                                    @item.TimeFromHome
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
